* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
  background: orange;
}
.btn-secondary {
  color: orangered;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  padding: 16px 35px;
  height: 60px;
  border-radius: 5px;
  background: #ffffff;
}

/* Header styles */
.header {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.header-content {
  max-width: 525px;
  text-align: right;
  padding: 216px 230px 166px 745px;
}
.header h1 {
  font-weight: 700;
  font-size: 55px;
  color: #151414;
  margin-bottom: 24px;
}
.header p {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 32px;
}

/* Footer styles */
footer {
  color: #ffffff;
  background: #151414;
}
.footer-container {
  display: flex;
  gap: 250px;
  padding: 130px 230px;
}
footer h1 {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 16px;
}
footer a {
  text-decoration: none;
}
footer h3 {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 32px;
}
footer input {
  width: 200px;
  height: 24px;
  border: 0;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 12px;
}
